body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.intro-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f2f5;
    position: relative; /* Giữ cho container đứng yên */
}

.intro-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.intro-text {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
    text-align: center;
}
